<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles/style.build.tailwind.css}" />
    <style>
        body {
            background-image: url("/assets/images/background.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="grid grid-cols-2 gap-4">
    <div class="flex justify-evenly h-screen items-center">
        <form
                class="bg-white shadow-md px-8 pt-14 pb-18 w-4/5 pb-8" style="border-radius: 0px 100px 0px 100px;border: 5px solid #3C6255;"
                th:object="${user}" th:action="@{/register}" method="post"
        >
            <h1 class="text-black font-semibold text-3xl pl-14">Register</h1>

            <div th:if="${error}" th:text="${error}"
                 class="bg-error/50 rounded-md mx-14 flex justify-center mt-6 py-2 text-lg"
            >
                Username telah digunakan
            </div>

            <div class="mx-16 my-6 flex flex-row justify-center gap-x-5">
                <input class="appearance-none border-b-2 border-black/25 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                       type="text"
                       id="firstname"
                       name="firstname"
                       placeholder="Firstname"
                       required
                       th:field="*{firstName}"
                />
                <input class="appearance-none border-b-2 border-black/25 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                       type="text"
                       id="lastname"
                       name="lastname"
                       placeholder="Lastname"
                       th:field="*{lastName}"
                />
            </div>
            <div class="flex gap-3 my-6 mb-4 justify-center">
                <img class="object-none"
                     th:src="@{/assets/images/profile.svg}"
                     alt="user"/>
                <input
                        class="appearance-none border-b-2 border-black/25 w-4/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                        id="username"
                        name="username"
                        type="text"
                        placeholder="Username"
                        required
                        th:field="*{username}"
                />
            </div>
            <div class="flex gap-3 my-6 mb-4 justify-center">
                <img class="object-none"
                     th:src="@{/assets/images/email.svg}"
                     alt="email" />
                <input
                        class="appearance-none border-b-2 border-black/25 w-4/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                        id="email"
                        name="email"
                        type="email"
                        placeholder="E-mail"
                        required
                        th:field="*{email}"
                />
            </div>
            <div class="flex gap-3 my-6 mb-4 justify-center">
                <img
                        class="object-none"
                        th:src="@{assets/images/lock.svg}"
                        alt="pass"
                />
                <input
                        class="appearance-none border-b-2 border-black/25 w-4/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                        id="password"
                        name="password"
                        type="password"
                        placeholder="******"
                        required
                        min="8"
                        th:field="*{password}"
                />
            </div>
            <div class="flex gap-3 my-6 mb-4 justify-center">
                <img class="object-none"
                     th:src="@{/assets/images/role.svg}"
                     alt="role" />
                <select id="role"
                        name="role"
                        class="block py-2 px-3 w-4/6 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-black/25 focus:outline-none focus:ring-0 focus:border-black peer"
                        required
                        th:field="*{role}"
                >
                    <option th:each="roleOpt : ${T(com.pplbo.fortic5.model.user.Role).values()}"
                        th:value="${roleOpt}" th:text="${roleOpt.displayValue}"></option>
                </select>
            </div>
            <div class="flex gap-3 my-6 mb-4 justify-center">
                <img class="object-none"
                     th:src="@{/assets/images/address.svg}"
                     alt="address" />
                <input
                        class="appearance-none border-b-2 border-black/25 w-4/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-black"
                        id="address"
                        name="address"
                        type="text"
                        placeholder="Address"
                        required
                        th:field="*{address}"
                />
            </div>
            <div class="flex justify-center">
                <button
                        type="submit"
                        class="rounded-full border bg-cpt21 mt-4 py-1.5 px-2.5 text-white font-medium shadow-sm duration-100 hover:bg-cpt21/75 w-96 focus:bg-cpt21/50"
                >
                    Register
                </button>
            </div>
            </br>
            <hr style="border: 2px solid #245953"/>
            <h4 class="py-6 px-36">
                Sudah punya akun? <a class="text-cpt14 hover:text-cpt13" th:href="@{/login}"><u>Login</u></a>
            </h4>
        </form>
    </div>
    <div class="flex h-screen items-center">
        <div class="bg-cpt12 px-8 pt-16 pb-16 mx-10 w-full" style="border-radius: 0px 100px 0px 100px;">
            <div class="text-center py-20">
                <img
                        style="display: block; margin: auto; width: 400px;"
                        th:src="@{/assets/images/logo.svg}"
                        alt="logo"
                />
                <h1 class="mt-32 mb-4" style="font-size: 2em">Aplikasi Belanja Software,</h1>
                <h1 class="my-4" style="font-size: 2em">Accessories, dan Komputer</h1>
                <h1 class="my-4" style="font-size: 2em">Online</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>
