<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle=${product.name})"></head>
<body>
<div th:replace="fragments/header :: header (type='customer')"></div>
<div class="relative w-full px-20 py-10">
    <div th:replace="fragments/components :: backArrow (link='/')"></div>
    <div th:replace="fragments/product_preview :: productPreview (type='customer')"></div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>