<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Checkout</title>
  <link rel="stylesheet" th:href="@{/styles/style.dev.tailwind.css}">
</head>
<body class="font-secondary">
  <div class="relative w-full px-20 py-10">
    <div>
      <span>
        <a class="flex flex-row items-center font-bold cursor-pointer" onclick="history.go(-1)">
          <img class="h-6 mr-3" th:src="@{/assets/images/left-arrow.svg}" alt="back">
          Kembali
        </a>
      </span>
    </div>
    <div class="my-10">
      <h1 class="font-bold text-5xl">
        Bayar
      </h1>
    </div>
    <div class="flex flex-row items-start gap-x-10">
      <div class="w-full">
        <div class="border-b-2 border-black/25 pb-1.5 mb-1.5">
          <h2 class="font-bold text-xl">Alamat Pengiriman</h2>
        </div>
        <div class="border-b-2 border-black/25 pb-1.5 mb-1.5">
          <p>Reiie</p>
          <p>email blabla@blabla</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="border-b-2 border-black/25 pb-1.5 mb-1.5 mt-8">
          <h2 class="font-bold text-xl">Detail Pesanan</h2>
        </div>
        <div class="border-b-2 border-black/25 pb-1.5 mb-1.5">
          <h3 class="font-medium text-md">Fluffyreiie</h3>
          <p class="text-sm">Kota Bekasi</p>
        </div>
        <table class="w-full">
          <thead>
            <tr class="border-b-2 border-black/25">
              <th class="w-2/5 pb-1.5 text-left">Product</th>
              <th class="w-1/5">Amount</th>
              <th class="w-1/5">Price</th>
              <th class="w-1/5">Total</th>
            </tr>
          </thead>
          <tbody class="" th:object="${product}">
            <tr class="border-b-2 border-black/25">
              <td class="flex flex-row items-center py-2">
                <img class="h-16 object-cover mr-3" th:src="*{getMainImage()}">
                <p th:text="*{product.name}"></p>
              </td>
              <td class="text-center">1</td>
              <td class="text-center" th:text="*{getPriceFormatted()}"></td>
              <td class="text-center" th:text="*{getPriceFormatted()}"></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-8">
          <h2 class="font-bold text-xl">Jasa Pengiriman</h2>
        </div>
        <div class="rounded-sm border-2 border-black/25 px-3 py-2 my-1.5 flex flex-row items-center justify-between">
          <div class="w-1/2 flex flex-row gap-x-4">
            <div class="mt-1">
              <input type="radio" id="jasa-pengiriman"
                     class="w-4 h-4 focus:ring-2">
            </div>
            <div>
              <label for="jasa-pengiriman" class="block mb-1">FORTIC5</label>
              <label for="jasa-pengiriman">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
            </div>
          </div>
          <div class="mr-10">
            <img th:src="@{/assets/images/logo.svg}" alt="logo">
          </div>
        </div>
        <div class="mt-8">
          <h2 class="font-bold text-xl">Detail Pembayaran</h2>
        </div>
        <div class="rounded-sm border-2 border-black/25 px-3 py-2 my-1.5 flex flex-row items-center justify-between">
          <div class="w-1/2 flex flex-row gap-x-4">
            <div class="mt-1">
              <input type="radio" id="detail-pembayaran"
                     class="w-4 h-4 focus:ring-2">
            </div>
            <div>
              <label for="detail-pembayaran" class="block mb-1">Cash on Delivery (COD)</label>
              <label for="detail-pembayaran">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
            </div>
          </div>
          <div class="mr-10">
            <img th:src="@{/assets/images/logo.svg}" alt="logo">
          </div>
        </div>
      </div>
      <div class="w-80 mt-20">
        <form method="POST" th:action="@{|/product/${product.product.id}/buy|}">
          <div class="w-full h-auto border border-black/25 rounded-xl grid grid-cols-1 px-4 py-3 gap-y-2.5">
            <div class="border-b-2 border-black/25 pb-3 mb-2">
              <h2 class="font-bold text-lg">Summary</h2>
            </div>
            <div class="flex flex-row justify-between my-1.5">
              <p class="text-sm font-medium">Total Product</p>
              <p class="font-medium text-sm">1</p>
            </div>
            <div class="flex flex-row justify-between mb-2">
              <p class="text-md font-bold">Total</p>
              <p class="text-md font-bold" th:text="${product.getPriceFormatted()}"></p>
            </div>
            <input type="submit" name="checkout" value="Checkout" class="text-md font-bold rounded-md bg-cpt12 py-0.5 cursor-pointer shadow-md duration-150 hover:bg-cpt13 hover:text-white hover:shadow-none">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>