<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Checkout</title>
    <link rel="stylesheet" th:href="@{/styles/style.dev.tailwind.css}">
</head>
<body>
    <!-- navbar -->
    <header class="relative w-full py-4 bg-cpt12">
        <div class="mx-20 flex flex-row justify-around items-center">
            <div>
                <a class="cursor-pointer"><img class="h-8" src="/assets/images/logo-fortic5.png"></a>
            </div>
            <form action="xxxx" method="post">
                <div class="bg-white rounded-full">
                    <input class="rounded-full p-1 px-3 w-96 h-8 focus:outline-none" type="text" placeholder="Cari produk...">
                    <button class="bg-cpt21 rounded-full p-1 px-7 h-8 font-medium text-white" type="submit">Cari</button>
                </div>
            </form>
            <div class="flex flex-row items-center">
                <a href="pesanan"><img class="h-8 mx-4" src="/assets/images/riwayat.png" alt="riwayat"></a>
                <a href="chat"><img class="h-8 mx-4" src="/assets/images/chat.png" alt="chat"></a>
                <a href="keranjang"><img class="h-8 mx-4 mr-8" src="/assets/images/keranjang.png" alt="keranjang"></a>
                <a class="flex flex-row items-center" href="profile">
                    <img class="h-10 mr-2 rounded-full" src="/assets/images/profile1.jpg" alt="profile-picture">
                    <p>siapayach</p>
                </a>
            </div>
        </div>
    </header>

    <!-- navbar v2 -->
    <div class="px-16">
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
            <div class="flex items-center">
                <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                        <a class="text-gray-900 dark:text-white hover:underline" aria-current="page">
                            <table>
                                <td>
                                    <img class="h-8 mx-0" src="/assets/images/left-arrow.png" alt="back"> 
                                </td>
                                <td>
                                    Lanjut Belanja
                                </td>
                            </table>
                        </a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex ...">
        <div class="flex-auto w-auto ...">
          <!-- body -->
    <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
        <div class="text-xl font-bold">
            <ul>
                <h5>Bayar</h5>
            </ul>
        </div>
    </div>

    <!-- alamat pengiriman -->
            <div class="relative overflow-x-auto">
                <table class="w-full text-l text-left text-gray-500 dark:text-gray-400">
                    <thead>
                        <th scope="row" class="px-6 py-2 font-medium text-bold whitespace-nowrap dark:text-white">
                            <h4 class="font-bold">Alamat pengiriman</h4>
                        </th>
                    </thead>
                    <tbody class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <td scope="col" class="px-6 py-1 font-bold">
                                Fulan
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="px-6 py-0">
                                <p>628xxxxxxxxxxx</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla doloribus aperiam quidem excepturi dignissimos mollitia, eum eaque sed amet repudiandae ea natus officia unde aspernatur doloremque magnam perferendis accusantium</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <!-- detail pesanan -->
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-l text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 font-bold">
                                <h4>Detail pesanan</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td scope="row" class="px-6 py-0 text-xs text-gray-900 whitespace-nowrap">
                                <h5>Fulan</h5>
                                <p>Palembang, Sumatera Selatan</p>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td scope="row" class="px-6 py-1 font-small text-gray-200 whitespace-nowrap dark:text-white">
                                Product
                            </td>
                            <td class="px-6 py-1">
                                Amount
                            </td>
                            <td class="px-6 py-1">
                                Price
                            </td>
                            <td class="px-6 py-1">
                                Total
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <td scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <table>
                                    <td>
                                        <img class="h-8 mx-4" src="/assets/images/mouse1.jpg" alt="mouse"> 
                                    </td>
                                    <td>
                                        Magic Mouse
                                    </td>
                                </table>
                            </td>
                            <td class="px-6 py-2">
                                1
                            </td>
                            <td class="px-6 py-2">
                                Rp1.000.000
                            </td>
                            <td class="px-6 py-2">
                                Rp1.000.000
                            </td>
                        </tr>

            <!-- Jasa pengiriman -->
            <div class="relative overflow-x-auto">
                <table class="w-full text-l text-left text-gray-500 dark:text-gray-400">
                    <thead>
                        <th scope="row" class="px-6 py-2 font-medium text-bold whitespace-nowrap dark:text-white">
                            <h4 class="font-bold">Jasa Pengiriman</h4>
                        </th>
                    </thead>
                    <tbody class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <td>
                                <div class="flex items-center px-6 pl-4 border border-gray-200 rounded dark:border-gray-700">
                                    <table>
                                        <!-- tabel checkbox -->
                                        <tr>
                                            <input id="checkbox" type="checkbox" value="" name="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <tr>
                                                <label for="checkbox" class="py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 w-full">Fortic5</label>
                                            </tr>
                                            <tr>
                                                <p>Fortic5 adalah jasa pengiriman yang disediakan langsung oleh toko fortic5</p>
                                            </tr>
                                            <tr>
                                                <img class="h-8" src="/assets/images/logo-fortic5.png" alt="logo fortic5">
                                            </tr>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>

            <!-- Detail pembayaran -->
            <div class="relative overflow-x-auto">
                <table class="w-full text-l text-left text-gray-500 dark:text-gray-400">
                    <thead>
                        <th scope="row" class="px-6 py-2 font-medium text-bold whitespace-nowrap dark:text-white">
                            <h4 class="font-bold">Detail pembayaran</h4>
                        </th>
                    </thead>
                    <tbody class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <td>
                                <div class="flex items-center px-6 pl-4 border border-gray-200 rounded dark:border-gray-700">
                                    <table>
                                        <!-- tabel checkbox -->
                                        <tr>
                                            <input id="checkbox-1" type="checkbox" value="" name="checkbox-1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <tr>
                                                <label for="checkbox-1" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cash on Delivery (COD)</label>
                                            </tr>
                                            <tr>
                                                <img class="h-8" src="/assets/images/logo-fortic5.png" alt="logo fortic5">
                                            </tr>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
            <!-- Summary total pembayaran -->
            <div>
                <div class="w-64 h-auto">
                    <div class="w-full h-auto border border-black/25 rounded-xl grid grid-cols-1 px-4 py-3 gap-y-2.5">
                        <div>
                            <label class="text-md font-bold" for="quantity-input"><center>Summary</center></label>
                        </div>
                        <div class="flex flex-row justify-between">
                            <p class="text-sm">Total Product</p>
                            <p class="text-sm">1</p>
                        </div>
                        <div class="flex flex-row justify-between">
                            <p class="text-sm">Total</p>
                            <p class="text-sm">Rp. 1.000.000</p>
                        </div>
                        <button class="text-md font-bold rounded-full bg-cpt12 py-1">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        
</body>
</html>