<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORTIC5</title>
    <link rel="stylesheet" th:href="@{/styles/style.dev.tailwind.css}">
</head>
<body>
    <header class="relative w-full py-4 bg-cpt12">
        <div class="mx-20 flex flex-row justify-around items-center">
            <div>
                <a class="cursor-pointer"><img class="h-8" src="/assets/images/logo-fortic5.png"></a>
            </div>
            <form action="xxxx" method="post">
                <div class="bg-white rounded-full">
                    <input class="rounded-full p-1 px-3 w-96 h-8 focus:outline-none" type="text" placeholder="Cari produk...">
                    <button class="bg-cpt21 rounded-full p-1 px-7 h-8 font-medium text-white" type="submit">Cari</button>
                </div>
            </form>
            <div class="flex flex-row items-center">
                <a href="pesanan"><img class="h-8 mx-4" src="/assets/images/riwayat.png" alt="riwayat"></a>
                <a href="chat"><img class="h-8 mx-4" src="/assets/images/chat.png" alt="chat"></a>
                <a href="keranjang"><img class="h-8 mx-4 mr-8" src="/assets/images/keranjang.png" alt="keranjang"></a>
                <a class="flex flex-row items-center" href="profile">
                    <img class="h-10 mr-2 rounded-full" src="/assets/images/profile1.jpg" alt="profile-picture">
                    <p th:text="${user.username}"></p>
                </a>
            </div>
        </div>
    </header>
    <div class="my-16 mx-32 grid grid-rows-1 gap-10">
        <div>
            <h1 class="text-cpt21 font-bold text-xl">Rekomendasi Produk</h1>
        </div>
        <div class="grid grid-cols-6 gap-10">
            <th:block th:each="product : ${products}">
                <div class="w-48 p-3 border border-cpt14 rounded-xl">
                    <div class="grid grid-rows-1 gap-2">
                        <div class="h-44 rounded-xl">
                            <img class="h-full w-full object-cover" th:src="@{/assets/images/mouse1.jpg}" th:alt="${product.name}">
                        </div>
                        <div class="mx-1 grid grid-rows-1 gap-2">
                            <div>
                                <a class="font-medium" th:href="|/product/${product.id}|" th:text="${product.name}"></a>
                                <p class="font-medium text-cpt13" th:text="Rp. + ${product.price}"></p>
                            </div>
                            <div>
                                <p>100 Terjual</p>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>