<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle='FORTIC5')"></head>
<body>
<div th:replace="fragments/header :: header (type='customer')"></div>
<div class="my-16 mx-32 grid grid-rows-1 gap-10">
    <div>
        <h1 class="text-cpt21 font-bold text-xl">Rekomendasi Produk</h1>
    </div>
    <div th:replace="fragments/components :: productList (type='customer')"></div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>