<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle='History')"></head>
<body>
<div th:replace="fragments/header :: header (type='customer')"></div>
<div class="relative w-full px-36 py-10">
  <div th:replace="fragments/components :: backArrow (link='/')"></div>
  <h1 class="text-4xl font-bold my-5">Pesanan</h1>
  <div th:replace="fragments/order_list :: orders (type='customer')"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>