<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle='Add Product')"></head>
<body>
<div th:replace="fragments/header :: header (type='seller')"></div>
<div class="relative w-full px-20 py-10">
    <div class="ml-20 w-full">
        <h1 class="text-4xl font-bold my-4">Tambah Produk Baru</h1>
    </div>
    <div class="w-full px-10">
        <form th:action="@{/dashboard/add}" method="post" th:object="${request}" enctype="multipart/form-data">
            <table th:replace="fragments/product_form :: form (type='add')"></table>
        </form>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>