<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle='FORTIC%')"></head>
<body>
<div th:replace="fragments/header :: header (type='seller')"></div>
<div class="my-16 mx-32 grid grid-rows-1 gap-y-5">
  <div>
    <h1 class="text-cpt21 font-bold text-xl">Produk Saya</h1>
  </div>
  <div class="grid justify-items-end">
    <a class="flex flex-row items-center" th:href="@{/dashboard/add}">
      <img class="h-8" th:src="@{/assets/images/plus.svg}" th:alt="plus">
      <h2 class="ml-2 font-bold text-cpt21 text-lg">Tambah Produk</h2>
    </a>
  </div>
  <div th:replace="fragments/components :: productList (type='seller')"></div>
</div>
</body>
</html>