<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>FORTIC5</title>
  <link rel="stylesheet" th:href="@{/styles/style.dev.tailwind.css}">
</head>
<body>
<div th:replace="fragments/header_dashboard :: header"></div>
<div class="my-16 mx-32 grid grid-rows-1 gap-y-5">
  <div>
    <h1 class="text-cpt21 font-bold text-xl">Produk Saya</h1>
  </div>
  <div class="grid justify-items-end">
    <a class="flex flex-row items-center" th:href="@{/dashboard/add}">
      <img class="h-8" th:src="@{/assets/images/plus.svg}" th:alt="plus">
      <h2 class="ml-2 font-bold text-cpt21 text-lg">Tambah Produk</h2>
    </a>
  </div>
  <div class="grid grid-cols-product gap-10">
    <th:block th:each="product : ${products}">
      <div class="w-48 p-3 border border-cpt14 rounded-xl hover:shadow-lg duration-100">
        <div class="flex flex-col justify-end gap-y-2 h-full">
          <div class="h-44">
            <img class="h-full w-full object-cover rounded-lg" th:src="${product.image}" th:alt="${product.name}">
          </div>
          <div class="mx-1 flex flex-col justify-between h-full">
            <div class="w-full">
              <a class="font-medium w-full" th:href="|/dashboard/product/${product.id}|" th:text="${product.name}"></a>
              <p class="font-medium text-cpt13 w-full" th:text="${product.price}"></p>
            </div>
            <div class="w-full flex justify-end">
              <a th:href="|/dashboard/edit/${product.id}|">
                <img class="h-8" th:src="@{/assets/images/edit.svg}" th:alt="edit">
              </a>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</div>
</body>
</html>