<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle='Orders')"></head>
<body>
<div th:replace="fragments/header :: header (type='seller')"></div>
<div class="relative w-full px-36 py-10">
    <div>
      <span>
        <a class="flex flex-row items-center font-bold cursor-pointer" th:href="@{/dashboard}">
          <img class="h-6 mr-3" th:src="@{/assets/images/left-arrow.svg}" alt="back">
          Kembali
        </a>
      </span>
    </div>
    <h1 class="text-4xl font-bold my-5">Pesanan</h1>
    <div th:replace="fragments/order_list :: orders (type='seller')"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>