<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/components :: headFragment (pageTitle=${product.name})"></head>
<body>
<div th:replace="fragments/header :: header (type='seller')"></div>
<div class="relative w-full px-20 py-10">
  <div th:replace="fragments/components :: backArrow (link='/dashboard')"></div>
  <div th:replace="fragments/product_preview :: productPreview (type='seller')"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>