body {
    font-family: Poppins, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #232946;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-logo {
    color: #fffffe;
}

.navbar {
    display: inline;
}

.navbar-content {
    display: inline;
    padding: 0 2rem;
}

.navbar-link {
    text-decoration: none;
    color: #fffffe;
}

.header-cart {
    background-color: #fffffe;
    height: 40px;
    width: 70px;
    border-radius: 4px;
}

.cart-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}